.calculator {
  display: flex;
  justify-content: center;
}
.container {
  flex-grow: 1;
  max-width: 600px;
  margin: 10px;
  margin-top: 100px;
}
.header {
  margin-bottom: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 22px;
  text-transform: capitalize;
}
.header > button {
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
}
.card {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background-color: var(--white);
  border-radius: 10px;
  position: relative;

  padding: 10px;
}
.main {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.boxes {
  display: flex;
  justify-content: space-between;
}
.box {
  flex-basis: 49%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.box > label {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}
.input {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 18px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.btnBox {
  display: flex;
  justify-content: flex-end;
}
.btnBox > button {
  height: 40px;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (max-width: 499px) {
  .input {
    height: 30px;
    font-size: 14px;
  }
}
